@font-face {
  font-family: 'Hack';
  src: url('./fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root{
  --ui-bg: #eee;
  --ui-text: #444;
  --ui-mid: #aaa;
  --ui-light: #ccc;
  --ui-very-light: #ddde;
  --ui-selected: #000;
  --ui--accent: #c5c5c5;
  --ui-fun: #aaa;
  --ui-fun2: #444;


  font-size: 14px;
  line-height: 1.6;
}

html[data-theme='dark'] {
  --ui-bg: #444;
  --ui-text: #eee;
  --ui-mid: #aaa;
  --ui-light: #666;
  --ui-very-light: #333;
  --ui-selected: #fff;
  --ui--accent: #7f7f7f;
  --ui-fun: #eee;
  --ui-fun2: #666;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}


body {
  font-size: 1rem;
  padding: 2rem;
  color: var(--ui-text);
  background: var(--ui-bg);
  font-family: Hack, monospace;
  scrollbar-width: thin;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
}


canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

#editor {
  position: absolute;
  /* right: 1rem; */
  width: 340px;
  transition: width 0.5s ease-in-out;
}

.button {
  display: inline-block;
  padding: 0.3rem 1rem;
  margin: 0.3rem 0;
  border: 1px solid var(--ui-light);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--ui-light);
}

a {
  color: var(--ui-text);
  text-decoration: none;
  border-bottom: 1px solid var(--ui-text);
}

h1 {
  font-size: 3rem;
  /* letter-spacing: 0.1em; */
  /* text-transform: uppercase; */
  margin: 0;
  /* text-align: center; */
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.gallery {
  display: flex;
  flex-flow: column;
}

.card {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid var(--ui-light);
  border-radius: 4px;


}

.card:hover {
  background: var(--ui-light);
}

footer {
  background: var(--ui-bg);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem;
  padding: 1rem 0 2rem 0;
  margin: 0 auto;
}

footer > * {
  margin: 0 1rem;
}

em {
  color: var(--ui-selected);
  background: var(--ui--accent);
  padding: 0.2em 0.5em;
  border-radius: 4px;
}

p {
  max-width: 40ch;
}


.space {
  height: 2rem;
}

#new, #map{
  display: inline-block;
  font-size: 1.25rem;
  margin: 2rem 0;
  padding: 1;
  cursor: pointer;
}

.home {
  border-bottom: none;
  color: var(--ui-mid);
}

.widget {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  height: auto;
  background-color: var(--ui-bg);
  border-radius: 4px;
  color: var(--ui-text);
  margin-bottom: 1rem;
  user-select: none;
}
.svg {
  shape-rendering: crisp-edges
}
.svg-a {
  fill: var(--ui-fun2);
}

.svg-b {
  fill: var(--ui-fun);
}

#theme {
  /* position: fixed;
  right: 2rem;
  top: 2rem; */
}

.flex-area {
  display: flex;
  flex-direction: row;
  max-width: 800px;

}

.half {
  width: 50%;
}

.half p {
  padding-right: 2rem;
}


.node {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  vertical-align: baseline;
  border: none;
  color: var(--ui-mid);
}

.node:hover {
  color: var(--ui-text);
  z-index: 200;
}

.node-button {
  display: block;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.label {
  font-size: 1rem;
}



.list .node {
  position: relative;
  left: 0 !important;
  top: 0 !important;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}


@media only screen and (max-width: 500px) {
  .flex-area {
    flex-direction: column;
  }

  .flex-area > * {
    margin-bottom: 3rem;
  }
  p {
    max-width: 100%;
  }
  .half {
    width: 100%;
  }
  .widget{
    width: 100%;
  }
  #editor{
    width: calc(100vw - 4rem);
  }
}

.toggle {
  /* background-color: var(--ui-light); */
  padding: 0.1em 0.5em;
  border: 1px solid var(--ui-light);
  border-radius: 4px;
  cursor: pointer;
}

.toggle:hover{
  background: var(--ui-light);
}


hr {
  border: none;
  border-bottom: 1px solid var(--ui-light);
  margin: 3rem 0;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--ui-light) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--ui-light);
  border-radius: 20px;
  border: 3px solid transparent;
}
