<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-sclae=1"/>
    <meta name="description" content="A city building toy"/>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/loading.css">
    <link rel="stylesheet" href="/static/widgets.css">
    <script type="text/javascript" src="/js/colortheme.js"></script>
    <script type="module" src="/js/view.js" defer></script>
    <title>Tiny Cities – Viewer</title>
  </head>
  <body>
    <div id="loading">
      <p>Tiny Cities</p>
      <div>
        <span class="l">·</span>
        <span class="l">·</span>
        <span class="l">·</span>
      </div>
    </div>
    <div id="editor">
      <div class="widget">
        <h1><a href="/" class="home">← Tiny Cities</a> / <span id="city-name"></span></h1>
        <div class="">
          <!-- <a class="button" href="/">Home</a> -->
          <span role="button" class="button" id="edit">Edit</span>
        </div>
      </div>
    </div>
  </body>
</html>
