<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-sclae=1"/>
    <meta name="description" content="A city building toy"/>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/loading.css">
    <script type="module" src="/js/view.js" defer></script>


    <title>Tiny Cities</title>
  </head>
  <body>
    <div id="loading">
      <p>Tiny Cities</p>
      <div>
        <span class="l">·</span>
        <span class="l">·</span>
        <span class="l">·</span>
      </div>
    </div>
  </body>
</html>
